<form style="padding: 4%">
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label text-muted">First Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.firstName.errors }"[(ngModel)]="item.userFName">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.firstName.errors" class="text-danger">
                <div *ngIf="registerForm.controls.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <label class="col-md-1 col-form-label form-control-label text-muted">Last Name</label>
        <div class="col-md-5">
            <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lastName.errors }" [(ngModel)]="item.userLName">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.lastName.errors" class="text-danger">
                <div *ngIf="registerForm.controls.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label form-control-label text-muted" >Email</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" [(ngModel)]="item.userEmail">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
                <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <label class="col-md-1 col-form-label form-control-label text-muted" >Mobile No</label>
        <div class="col-md-5">
            <input class="form-control" type="text" formControlName="mobileno" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.mobileno.errors }"   [(ngModel)]="item.userMobileNo">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                <div *ngIf="registerForm.controls.mobileno.errors.required">mobile No is required</div>
                <div *ngIf="registerForm.controls.mobileno.errors.pattern">Enter a valid mobile no</div>
            </div>
        </div>
    </div>
    <div style="margin-left: 17%;" class="form-group row">
        <label class="col-lg-2 col-form-label form-control-label text-muted" >Password</label>
        <div class="col-lg-10">
            <input style="width: 46%;" class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }" [(ngModel)]="item.userPassword">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
                <div *ngIf="registerForm.controls.password.errors.pattern">Enter a strong password</div>
            </div>
        </div>
    </div>
    <div style="margin-left: 17%;" class="form-group row">
        <label class="col-lg-2 col-form-label form-control-label text-muted" >Confirm Password</label>
        <div class="col-lg-10">
            <input style="width: 46%;" class="form-control" type="password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.confirmpassword.errors }" [(ngModel)]="confirmpassword">
            <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                <div *ngIf="registerForm.controls.confirmpassword.errors.required">Confirm Password is required</div>
                
            </div>  
        </div>
    </div>
    <button type="button" (click)="Add()" style="background-color: #563D7C;border-color:#563D7C;outline: none;    margin-left: 42%;" class="btn btn-primary mr-1">Sign Up</button>
</form>
